@import "https://js.arcgis.com/coding-components/4.29/arcgis-coding-components.css";
@import "https://js.arcgis.com/calcite-components/2.5.1/calcite.css";
@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 2rem;
  height: 70vh;
  min-height: 400px;
}

arcgis-arcade-editor {
  max-width: 80%;
}
