@import 'https://js.arcgis.com/4.24/@arcgis/core/assets/esri/themes/light/main.css';

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#widgetTitle {  
  font-size: 12pt;
  font-weight: bold;  
  text-align: center;
}

.recenter-tool {
  background-color: white;  
  padding: 10px;
}
