<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:;base64,=" />
    <title>Map components React template</title>
    <style>
      html,
      body {
        background-color: var(--calcite-ui-foreground-2);
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
      }

      #root,
      arcgis-map {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="./src/index.tsx"></script>
  </body>
</html>
