@import 'https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css';
.esri-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#mapViewNode {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}