html,
main,
body {
  height: 100%;
  margin: 0;
}

arcgis-map {
  display: block;
  height: 100vh;
}

arcgis-chart {
  width: 700px;
  height: 550px;
}

#app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
