/* CSS Styles for the tutorial will be added here */
/* import the `@esri/calcite-components`, `@arcgis/core` light theme and @arcgis/map-components CSS stylesheets. */
@import "https://js.arcgis.com/calcite-components/3.0.3/calcite.css";
@import "https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/map-components/4.32/arcgis-map-components.css";

/* Add CSS styles to make the `html`, `body` and `arcgis-map` elements the full width and height of their parent containers. */
html,
body {
  margin: 0;
}

arcgis-map {
  display: block;
  height: 100vh;
}
