@import "@esri/calcite-components/calcite/calcite.css";
@import "@arcgis/core/assets/esri/themes/light/main.css";
@import "@arcgis/map-components/main.css";
@import "@arcgis/coding-components/main.css";

/* The JavaScript SDK (v4.33) uses named exports for component stylesheets.
 * In certain development environments, this may not work which 
 * means you will need to remove lines 3-4 and uncomment lines 14-15.
 * Outdated versions of build tools and node (before 2020) may not support named exports.
 * If you're working with TypeScript and your moduleResolution is set to `node`,
 * then named exports also won't work.
 */

/* @import "@arcgis/map-components/dist/cdn/main.css"; */
/* @import "@arcgis/coding-components/dist/cdn/main.css"; */

html,
body {
  background-color: var(--calcite-ui-foreground-2);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 40%;
  min-height: 400px;
}

arcgis-arcade-editor {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

arcgis-map {
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0 10px;
}
