/* import the `@arcgis/core` light theme CSS stylesheets. */
@import "https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/light/main.css";

/* Add CSS styles to make the `html`, `body` and `arcgis-map` elements the full width and height of their parent containers. */
html,
body {
  margin: 0;
}

arcgis-map {
  display: block;
  height: 100vh;
}

arcgis-chart {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 50%;
  width: 60%;
}
