/* import the `@arcgis/core` light theme and `@esri/calcite-components` CSS stylesheets. */
@import "https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/calcite-components/2.13.2/calcite.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#scatterplot {
  position: absolute;
  bottom: 100px;
  left: 30px;
  height: 40%;
  width: 50%;
}
