@import "https://js.arcgis.com/calcite-components/3.0.3/calcite.css";
@import "https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/dark/main.css";
@import "https://js.arcgis.com/map-components/4.32/arcgis-map-components.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
  margin: 0;
}

arcgis-map {
  display: block;
  height: 100vh;
}
