@import 'https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/dark/main.css';
@import "https://js.arcgis.com/calcite-components/2.13.2/calcite.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
  margin: 0;
}
arcgis-map {
  display: block;
  height: 100vh;
}