@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";
@import "https://js.arcgis.com/4.33/@arcgis/core/assets/esri/themes/dark/main.css";
@import "https://js.arcgis.com/4.33/coding-components/main.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  min-height: 400px;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

arcgis-arcade-editor {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

calcite-scrim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
