/* import the `@arcgis/core` light theme */
@import "https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/light/main.css";

html,
body,
arcgis-map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
