@import 'https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/dark/main.css';

html,
body {
  background-color: var(--calcite-ui-foreground-2);
  margin: 0;
}
arcgis-map {
  display: block;
  height: 100vh;
}