:root {
  --blue: #0079c1;
  --gray: #efefef;
  --white: #fff;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga" 1, "calt" 0;
}

#seasons-filter {
  height: 160px;
  width: 100%;
  visibility: hidden;
}

.season-item {
  width: 100%;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  height: 40px;
}

.season-item:focus {
  background-color: dimgrey;
}

.season-item:hover {
  background-color: dimgrey;
}

#titleDiv {
  padding: 10px;
}

#titleText {
  font-size: 20pt;
  font-weight: 60;
  padding-bottom: 10px;
}
