@import "https://js.arcgis.com/4.33/@arcgis/core/assets/esri/themes/light/main.css";

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50);
}

#btn-1 {
  width: 100%;
  height: 30px;
  background-color: #4caf50;
  display: none;
}
