@import 'https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/dark/main.css';
@import "https://js.arcgis.com/calcite-components/2.13.2/calcite.css";

html,
main,
body,
arcgis-map {
  background-color: var(--calcite-ui-foreground-2);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}