name: ESM Sample Build Metrics
on:
  pull_request:
    branches: [master]
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.ESM_BUILD }}
      - name: should samples build
        id: build
        run: |
          current_branch=$(git rev-parse --abbrev-ref HEAD)
          # package.json files changed in the branch
          packages_changed=$(git diff --name-only "$current_branch" $(git merge-base "$current_branch" origin/master) -- "**/package.json")
          # metric files changed in the previous commit
          metrics_changed=$(git diff --name-only HEAD^ HEAD -- "./esm-samples/.metrics/*.csv")
          if [ -z "$packages_changed" ]; then
            echo "no package.json files changed, skipping build analysis"
          elif [ -n "$metrics_changed" ]; then
            echo "metric files changed: $metrics_changed"
            echo "the previous commit contained build metrics, skipping build analysis"
          else
            echo "package.json files changed: $packages_changed"
            echo "analyzing builds"
            echo "::set-output name=skip::false"
          fi
      - if: steps.build.outputs.skip == 'false'
        name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - if: steps.build.outputs.skip == 'false'
        name: run sample metrics script
        run: node ./.github/scripts/analyze-builds.js
      - name: push sample metrics analysis
        if: steps.build.outputs.skip == 'false'
        run: |
          git pull
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add ./esm-samples/.metrics/*.csv
          git commit -m "ci: analyze esm sample builds" || true
          git push origin ${{ github.event.pull_request.head.ref }}
